body{
    background-color: rgb(128, 128, 128);
}

#header{
    text-align: center;
    color: white;
    background-color: black;
}

* {
    box-sizing: border-box;
  }
.column {
    float:  left;
    width: 10%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.main {
    float: left;
    width: 10%;
    padding: 5px;
}